<head>
<title>
This is Anita & Tonya's Page
</title>
</head>

<body background="img/background.jpg">
<p style = <center>
<%=yield%>
</center></p>

<p>
</p>
</body>
<br>

<footer>
<br>
<br>
<center style="color: white;">Come see us at our "jail type" dorm in Morgantown, WV</center>	
</footer>