<head>
<title>
This is Anita & Tonya's Page
</title>
</head>

<body background="img/background.jpg">
<p style = <center>
<%=yield%>
</center></p>

<p>
</p>
</body>
<br>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center><p style="color: E6F904; font-size: 55px;">Come see us at our "jail-style" dorm in Morgantown, WV</p></center>	
</footer>